/*vert: #C5E99B*/
/*violet: #D1B6E1*/

html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;

  background-color: #FEFEFE;
  font-family: helvetica;
}

select {
  box-sizing: border-box;
  padding: 1em;
}

button {
  box-sizing: border-box;
  padding: 1em 2em;

  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  background-color: #D1B6E1;
  color: white;
  border-color: #D1B6E1;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0,0,0,0);
  color: #D1B6E1;
}

button:active {
  background-color: rgba(0,0,0,0.1);
  color: #D1B6E1;
}

#sidebar {
  display: flex;
  flex-flow: column;
  flex: 0 0 400px;
  margin-right: 5px;
  box-sizing: border-box;
  padding: 1em;
  overflow-y: auto;
}

.checkbox {
  margin: 5px 0;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 5px;
}

#content {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

#select {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  flex: 0 0 auto;
  margin: 5px 0;
}

#preview {
  box-sizing: border-box;
  flex-grow: 1;
  margin: 5px 0;
  overflow-y: auto;
}

#preview-content {
  overflow-y: auto;
}

.eula-paragraph {
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 5px;
}

.tooltip {
  position: absolute;
  top: 100%;
  visibility: hidden;
  z-index: 100;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 5px;
  background-color: inherit;
  font-style: italic;
  font-weight: normal;
}

.eula-paragraph:hover .tooltip {
  visibility: visible;
}

#action {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin: 5px 0;
  text-align: center;
}

.search {
  background-color: green;
}

.query-0 {
  background-color: #AA3939;
  color: white;
  font-weight: bold;
}

.query-1 {
  background-color: #AA5939;
  color: white;
  font-weight: bold;
}

.query-2 {
  background-color: #AA6B39;
  color: white;
  font-weight: bold;
}

.query-3 {
  background-color: #AA7939;
  color: white;
  font-weight: bold;
}

.query-4 {
  background-color: #AA8439;
  color: white;
  font-weight: bold;
}

.query-5 {
  background-color: #AA8E39;
  color: white;
  font-weight: bold;
}

.query-6 {
  background-color: #AA9539;
  color: white;
  font-weight: bold;
}

.query-7 {
  background-color: #AA9F39;
  color: white;
  font-weight: bold;
}

.query-8 {
  background-color: #AAA939;
  color: white;
  font-weight: bold;
}

.query-9 {
  background-color: #AAA537;
  color: white;
  font-weight: bold;
}

.query-10 {
  background-color: #7A9F35;
  color: white;
  font-weight: bold;
}

.query-11 {
  background-color: #5E9732;
  color: white;
  font-weight: bold;
}

.query-12 {
  background-color: #2D882D;
  color: white;
  font-weight: bold;
}

.query-13 {
  background-color: #267257;
  color: white;
  font-weight: bold;
}

.query-14 {
  background-color: #226666;
  color: white;
  font-weight: bold;
}

.query-15 {
  background-color: #2A4F6E;
  color: white;
  font-weight: bold;
}

.query-16 {
  background-color: #2E4372;
  color: white;
  font-weight: bold;
}

.query-17 {
  background-color: #353377;
  color: white;
  font-weight: bold;
}

.query-18 {
  background-color: #403075;
  color: white;
  font-weight: bold;
}

.query-19 {
  background-color: #4C2D73;
  color: white;
  font-weight: bold;
}

.query-20 {
  background-color: #592A71;
  color: white;
  font-weight: bold;
}

.query-21 {
  background-color: #71266E;
  color: white;
  font-weight: bold;
}

.query-22 {
  background-color: #8B2E5F;
  color: white;
  font-weight: bold;
}
